/* ----------- general classes ----------- */
/* When text is out of box on forms it should break at spaces and if that is not possible at the relevant character */
.wordBreak {
    overflow-wrap: break-word;;
}

/* Used to slightly increase font-size of labels of input fields */
.input-field>label {
    font-size: 1.2rem;
}

/* Set class/race label in forms at same size as all other labels after they translate in size when they get input.
Necessary since the class/race label do not translate in materialize (selectboxes) */
.materializeSelectBoxLabel>label {
    font-size: 1rem;
}
/* adds texture image to all page through body tag */
.backgroundTextureBody {
    background-image: url("../images/generalbackgroundtexture.jpg");
    background-repeat: repeat-y;
    background-size: cover;
}

/* Used to reduce width of forms and lists on wide viewscreens and slightly on small viewports, also see media query section */
.variableFormContainer {
    width: 95%;
    margin: auto;
}

/* class to style header for forms and tables*/
.formHeader {
    width: 100%;
    font-size: 1.7rem;
}

/* Class to increase size of confirm/cancel buttons since they have smaller content */
.buttonConfirmCancel {
    height: 2.0rem;
    line-height: 1.9rem;
    margin: 0.1rem 0.1rem;
    padding: 0.1rem 0.8rem;
    font-size: 0.8rem;    
}

/* reduces the materialize margins on various input fields */
.input-field {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* ----------- classes to adjust basic materialize Navbar ----------- */
/* gradient styling of navbar and sidenav */
nav, .sidenav {
    background-image: linear-gradient(to right, #c64d29, #ecd6bb);
}

/* increase font-size of elements in sidenav */
.sidenav li>a {
    font-size: 1.5rem;
}

/* pushes the logo away from the left edge */
nav .brand-logo {
    margin-left: 10%; 
}

/* pushes the navbar elements away from the right edge */
nav ul {
    margin: 0;
    margin-right: 10%;
}

/* increases the font size of navbar elements (only visible on widescreens) */
nav ul a {
    font-size: 1.3rem;
}

/* ----------- welcome/landing page classes ----------- */
/* positions and aligns hero image */
.heroImage {
	background-image: url("../images/background.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 300px;
	padding-bottom: 10px;
}

/* ----------- NPC List page classes ----------- */
/* general styling of the header of the NPC list */
.NPCListContainer {
    width: 100%;
    margin: auto;
}

.NPCListHeader {
    font-size: 0.9rem;
    border-bottom: 2px solid rgb(125, 159, 199);
    padding-bottom: 0.5rem;
}

/* general styling of the rows in the NPC list */
.NPCListRow {
    font-size: 0.8rem;
    padding: 0.5rem 0;
    margin-bottom: 0.2rem;
    border-bottom: 1px solid lightsteelblue;
}

/* ----------- General styling media queries per viewport size ----------- */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    h3 {
        font-size: 1.5rem;
    }
    .formHeader {
        font-size: 1.5rem;
    }
    .btn_small {
        height: 1.5rem;
        line-height: 1.4rem;
        margin: 0.1rem 0.1rem;
        padding: 0.1rem 0.2rem;
        font-size: 0.8rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    h3 {
        font-size: 1.9rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    h3 {
        font-size: 2.1rem;
    }
    .NPCListHeader {
        font-size: 1.1rem;
    }
    .NPCListRow {
        font-size: 1.0rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    h3 {
        font-size: 2.3rem;
    }
    .NPCListHeader {
        font-size: 1.1rem;
    }
    .NPCListRow {
        font-size: 1.0rem;
    }
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .NPCListHeader {
        font-size: 1.2rem;
    }
    .NPCListRow {
        font-size: 1.1rem;
    }
}



/* ----------- Specific media queries ----------- */
/* Media query to reset margin on logo and navbar elements */
@media only screen and (max-width: 767px) {
    nav .brand-logo {
        margin:0;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 992px) {
    nav .brand-logo {
        margin:0;
    }
}

/* mediaqueries necessary to prevent hero image from filing the whole viewport (vertically), the content underneath should
 be partly visible so the user is aware of it. On the other hand on very wide viewports the hero image should have a bit more height */
@media screen and (orientation: landscape) and (max-width: 768px) {
  .heroImage {
      min-height: 150px;
  }
}

@media screen and (min-width: 992px) {
  .heroImage {
      min-height: 450px;
  }
}

/* used to reduce the width of content under the hero image on wide viewports */
@media screen and (min-width: 992px) {
    .variableFormContainer, .NPCListContainer {
        width: 60%;
    }
}

