.backgroundTextureBody {
    background-image: url("../images/generalbackgroundtexture.jpg");
    background-repeat: repeat-y;
    background-size: cover;
}

.heroImage {
	background-image: url("../images/background.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 300px;
	padding-bottom: 10px;
}

.welcomeText {
    margin: 0em 5em;
}

.btn_small {
    height: 20px;
    width: 50px;
    line-height: 20px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.variableFormContainer {
    width: 100%;
    margin: auto;
}

.input-field {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* mediaqueries necessary to prevent hero image from feeling the whole viewport, the content underneath should be partly visible so the user is aware of it. On the other hand on very wide viewports the hero image cann have a bit more height */
@media screen and (orientation: landscape) and (max-width: 768px) {
  .heroImage {
      min-height: 150px;
  }
}

@media screen and (min-width: 1024px) {
  .heroImage {
      min-height: 450px;
  }
}

@media screen and (min-width: 992px) {
    .variableFormContainer {
        width: 60%;
    }
}