{% extends 'base.html' %}
{% block content %}
<section class="container-fluid variableFormContainer">
    <div class="row">
        <div class="col s12">    
            <div class="row">
                <form action="{{url_for('update_class', class_id=NPCClass._id)}}" method="POST">
                    <!-- form header for title confirm and cancel button -->
                    <div class="row formHeader">
                        <div class="col s8">
                            Edit class
                        </div>
                        <div class="col s2 center-align">
                            <button class="waves-effect waves-light btn buttonConfirmCancel blue-grey darken-3" type="submit" name="action"><i class="small material-icons">check</i></button>
                        </div>                        
                        <div class="col s2 center-align">
                            <a href="{{url_for('get_classes')}}" class="waves-effect waves-light btn buttonConfirmCancel blue-grey darken-3"><i class="small material-icons">clear</i></a>
                        </div>        
                    </div>
                    <!-- New row for class name -->
                    <div class="row">
                        <!-- display input field for class name -->
                        <div class="input-field col s12 blue-text text-darken-3">
                            <input value="{{ NPCClass.class.capitalize() }}" id="NPCClassName" name="class" type="text" class="validate black-text" required>
                            <label class="grey-text text-darken-4" for="NPCClassName">Class name</label>
                        </div>
                    </div>
                    <!-- New row for class description -->
                    <div class="row">
                        <!-- display input field for class description -->
                        <div class="input-field col s12 blue-text text-darken-3">
                            <textarea id="classDescription" name="description" class="materialize-textarea validate black-text">{{ NPCClass.description }}</textarea>
                            <label class="grey-text text-darken-4" for="classDescription">Class description</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}