{% extends 'base.html' %}
{% block content %}
<section class="container-fluid variableFormContainer">
    <div class="row">
        <div class="col s12">    
            <div class="row">
                <form action="{{url_for('update_race', race_id=race._id)}}" method="POST">
                    <!-- form header for title confirm and cancel button -->
                    <div class="row formHeader">
                        <div class="col s8">
                            Edit race
                        </div>
                        <div class="col s2">
                            <button class="waves-effect waves-light btn btn_small blue-grey darken-3" type="submit" name="action"><i class="small material-icons">check</i></button>
                        </div>                        
                        <div class="col s2">
                            <a href="{{url_for('get_races')}}" class="waves-effect waves-light btn btn_small blue-grey darken-3"><i class="small material-icons">clear</i></a>
                        </div>        
                    </div>
                    <!-- New row for race name -->
                    <div class="row">
                        <!-- display input field for race name -->
                        <div class="input-field col s12 blue-text text-darken-3">
                            <input value="{{ race.race.capitalize() }}" id="raceName" name="raceName" type="text" class="validate black-text" required>
                            <label class="grey-text text-darken-4" for="raceName">Race name</label>
                        </div>
                    </div>
                    <!-- New row for race description -->
                    <div class="row">
                        <!-- display input field for race description -->
                        <div class="input-field col s12 blue-text text-darken-3">
                            <textarea value="" id="raceDescription" name="raceDescription" class="materialize-textarea validate black-text">{{ race.description }}</textarea>
                            <label class="grey-text text-darken-4" for="raceDescription">Race description</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}