{% extends 'base.html' %}
{% block content %}
<section class="container-fluid variableFormContainer">
    <div class="row">
        <div class="col s12">    
            <div class="row">
                <form action="{{ url_for('insert_npc') }}" method="POST">
                    <!-- form header for title confirm and cancel button -->
                    <div class="row formHeader">
                        <div class="col s8">
                            New character
                        </div>
                        <div class="col s2 center-align">
                            <button class="waves-effect waves-light btn buttonConfirmCancel blue-grey darken-3" type="submit"><i class="small material-icons">check</i></button>
                        </div>                        
                        <div class="col s2 center-align">
                            <a href="{{url_for('get_npcs')}}" class="waves-effect waves-light btn buttonConfirmCancel blue-grey darken-3"><i class="small material-icons">clear</i></a>
                        </div>        
                    </div>
                    <!-- New row for name and level -->
                    <div class="row">
                        <!-- display input field for name -->
                        <div class="input-field col s10 blue-text text-darken-3">
                            <input value="" id="npcOverviewName" name="name" type="text" class="validate black-text" required>
                            <label class="grey-text text-darken-4" for="npcOverviewName">Name</label>
                        </div>
                        <!-- display input field for level -->
                        <div class="input-field col s2">
                            <input value="" id="npcOverviewLevel" name="level" type="number" min="1" class="validate black-text">
                            <label class="grey-text text-darken-4" for="npcOverviewLevel">Level</label>
                        </div>
                    </div>
                    <!-- New row for race and class -->
                    <div class="row">
                        <!-- Selectbox for race -->
                        <div class="input-field col s6">
                            <select id="race" name="race">
                                <option value="" disabled selected>Choose race</option>
                                {% for race in races %}
                                <option value="{{race.race}}">{{race.race.capitalize()}}</option>
                                {% endfor %}
                            </select>
                            <label class="grey-text text-darken-4">Race</label>
                        </div>
                       <!-- Selectbox for class -->
                        <div class="input-field col s6">
                            <select id="class" name="class">
                                <option value="" disabled selected>Choose class</option>
                                {% for class in classes %}
                                <option value="{{class.class}}">{{class.class.capitalize()}}</option>
                                {% endfor %}
                            </select>
                            <label class="grey-text text-darken-4">Class</label>
                        </div>
                    </div>
                    <!-- New row for strength/dexterity/constitution -->
                    <div class="row">
                        <!-- display input field for Strength -->
                        <div class="input-field col s4">
                            <input value="" id="npcOverviewStrength" name="strength" type="number" min="1" class="validate black-text">
                            <label class="grey-text text-darken-4" for="npcOverviewStrength">Strength</label>
                        </div>
                        <!-- display input field for Dexterity -->
                        <div class="input-field col s4">
                            <input value="" id="npcOverviewDexterity" name="dexterity" type="number" min="1" class="validate black-text">
                            <label class="grey-text text-darken-4" for="npcOverviewDexterity">Dexterity</label>
                        </div>
                        <!-- display input field for Constitution -->
                        <div class="input-field col s4">
                            <input value="" id="npcOverviewConstitution" name="constitution" type="number" min="1" class="validate black-text">
                            <label class="grey-text text-darken-4" for="npcOverviewConstitution">Constitution</label>
                        </div>
                    </div>
                    <!-- New row for inteliigence/wisdom/charisma -->
                    <div class="row">
                        <!-- display input field for Intelligence -->
                        <div class="input-field col s4">
                            <input value="" id="npcOverviewIntelligence" name="intelligence" type="number" min="1" class="validate black-text">
                            <label class="grey-text text-darken-4" for="npcOverviewIntelligence">Intelligence</label>
                        </div>
                        <!-- display input field for Wisdom -->
                        <div class="input-field col s4">
                            <input value="" id="npcOverviewWisdom" name="wisdom" type="number" min="1" class="validate black-text">
                            <label class="grey-text text-darken-4" for="npcOverviewWisdom">Wisdom</label>
                        </div>
                        <!-- display input field for Charisma -->
                        <div class="input-field col s4">
                            <input value="" id="npcOverviewCharisma" name="charisma" type="number" min="1" class="validate black-text">
                            <label class="grey-text text-darken-4" for="npcOverviewCharisma">Charisma</label>
                        </div>
                    </div>
                    <!-- New row for description -->
                    <div class="row">
                        <!-- display input field for description -->
                        <div class="input-field col s12">
                            <textarea value="" id="npcOverviewDescription" name="description" class="materialize-textarea validate black-text"></textarea>
                            <label class="grey-text text-darken-4" for="npcOverviewDescription">Description</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}