{% extends 'base.html' %}
{% block content %}
<section class="container-fluid variableFormContainer">
    <div class="row header headerNPCOverview">
        <div class="col s8">
            Character overview
        </div>
        <div class="col s2">
            <a href="" class="waves-effect waves-light btn btn_small blue-grey darken-3">Edit</a>
        </div>
        <div class="col s2">
            <a href="" class="waves-effect waves-light btn btn_small blue-grey darken-3">Del</a>
        </div>        
    </div>
    <div class="row">
        <form class="col s12 blue-text text-darken-3">
            <!-- New row for name and level -->
            <div class="row">
                <!-- display field for name -->
                <div class="input-field col s10 blue-text text-darken-3">
                    <input disabled value="{{ npc.name }}" id="npcOverviewName" type="text" class="validate black-text">
                    <label class="grey-text text-darken-4" for="npcOverviewName">Name</label>
                </div>
                <!-- display field for level -->
                <div class="input-field col s2">
                    <input disabled value="{{ npc.level }}" id="npcOverviewLevel" type="text" class="validate black-text">
                    <label class="grey-text text-darken-4" for="npcOverviewLevel">Level</label>
                </div>
            </div>
            <!-- New row for race and class -->
            <div class="row">
                <!-- display field for race -->
                <div class="input-field col s6">
                    <input disabled value="{{ npc.race }}" id="npcOverviewRace" type="text" class="validate black-text">
                    <label class="grey-text text-darken-4" for="npcOverviewRace">Race</label>
                </div>
                <!-- display field for class -->
                <div class="input-field col s6">
                    <input disabled value="{{ npc.class }}" id="npcOverviewClass" type="text" class="validate black-text">
                    <label class="grey-text text-darken-4" for="npcOverviewClass">Class</label>
                </div>
            </div>
            <!-- New row for str/dex/con -->
            <div class="row">
                <!-- display field for Strength -->
                <div class="input-field col s4">
                    <input disabled value="{{ npc.strength }}" id="npcOverviewStrength" type="text" class="validate black-text">
                    <label class="grey-text text-darken-4" for="npcOverviewStrength">Strength</label>
                </div>
                <!-- display field for Dexterity -->
                <div class="input-field col s4">
                    <input disabled value="{{ npc.dexterity }}" id="npcOverviewDexterity" type="text" class="validate black-text">
                    <label class="grey-text text-darken-4" for="npcOverviewDexterity">Dexterity</label>
                </div>
                <!-- display field for Constitution -->
                <div class="input-field col s4">
                    <input disabled value="{{ npc.constitution }}" id="npcOverviewConstitution" type="text" class="validate black-text">
                    <label class="grey-text text-darken-4" for="npcOverviewConstitution">Constitution</label>
                </div>
            </div>
            <!-- New row for str/dex/con -->
            <div class="row">
                <!-- display field for Intelligence -->
                <div class="input-field col s4">
                    <input disabled value="{{ npc.intelligence }}" id="npcOverviewIntelligence" type="text" class="validate black-text">
                    <label class="grey-text text-darken-4" for="npcOverviewIntelligence">Intelligence</label>
                </div>
                <!-- display field for Wisdom -->
                <div class="input-field col s4">
                    <input disabled value="{{ npc.wisdom }}" id="npcOverviewWisdom" type="text" class="validate black-text">
                    <label class="grey-text text-darken-4" for="npcOverviewWisdom">Wisdom</label>
                </div>
                <!-- display field for Charisma -->
                <div class="input-field col s4">
                    <input disabled value="{{ npc.charisma }}" id="npcOverviewCharisma" type="text" class="validate black-text">
                    <label class="grey-text text-darken-4" for="npcOverviewCharisma">Charisma</label>
                </div>
            </div>
            <!-- display field for description -->
            <div class="row">
                <div class="input-field col s12">
                    <textarea disabled value="" id="npcOverviewDescription" class="materialize-textarea validate black-text">{{ npc.description }}</textarea>
                    <label class="grey-text text-darken-4" for="npcOverviewDescription">Description</label>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}