{% extends 'base.html' %}
{% block content %}
<section class="variableFormContainer">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
                <th>Level</th>
                <th>Race</th>
                <th>Class</th>
            </tr>
        </thead>

        <tbody>
        {% for npc in npcs %}
            <tr>
                <td class="truncate">{{ npc.name }}</td>
                <td><a href="{{url_for('npc_overview', npc_id=npc._id)}}" class="waves-effect waves-light btn btn_small blue-grey darken-3">View</a></td>
                <td>{{ npc.level }}</td>
                <td>{{ npc.race.capitalize() }}</td>
                <td>{{ npc.class.capitalize() }}</td>   
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}