{% extends 'base.html' %}
{% block content %}
<section class="container-fluid variableFormContainer">
    <div class="row">
        <div class="col s12">
            <div class="row formHeader">        
                <div class="col s10">
                    Character list
                </div>
                <div class="col s2">
                    <a href="{{ url_for('add_npc') }}" class="waves-effect waves-light btn btn_small blue-grey darken-3">New</a>
                </div>     
            </div>
            <div class="row NPCListHeader">
                <!-- name -->
                <div class="col s4 wordBreak">
                    <b>Name</b>
                </div>
                <!-- button -->
                <div class="col s2">
                </div>
                <!-- level -->
                <div class="col s2 center-align">
                    <b>Level</b>
                </div>
                <!-- race -->
                <div class="col s2 wordBreak">
                    <b>Race</b>
                </div>
                <!-- class -->
                <div class="col s2 wordBreak">
                    <b>Class</b>
                </div>
            </div>
            {% for npc in npcs %}
            <div class="row NPCListRow valign-wrapper">
                <!-- name -->
                <div class="col s4 wordBreak">
                    {{ npc.name }}
                </div>
                <!-- button -->
                <div class="col s2 center-align">
                    <a href="{{url_for('npc_overview', npc_id=npc._id)}}" class="waves-effect waves-light btn btn_small blue-grey darken-3">View</a>
                </div>
                <!-- level -->
                <div class="col s2 center-align">
                    {{ npc.level }}
                </div>
                <!-- race -->
                <div class="col s2 wordBreak">
                    {{ npc.race.capitalize() }}
                </div>
                <!-- class -->
                <div class="col s2 wordBreak">
                    {{ npc.class.capitalize() }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}