{% extends 'base.html' %}
{% block content %}
<section class="container-fluid variableFormContainer">
    <div class="row formHeader">        
        <div class="col s10">
            Races
        </div>
        <div class="col s2">
            <a href="" class="waves-effect waves-light btn btn_small blue-grey darken-3">New</a>
        </div>     
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="collapsible">
                {% for race in races %}
                <li>          
                    <div class="collapsible-header collapsibleHeaderRaces orange lighten-5"><i class="material-icons">person</i>{{ race.race.capitalize() }}</div>
                    <div class="collapsible-body"><span>{{ race.description }}</span></div>
                </li>
                {% endfor %}   
            </ul>
        </div>
    </div>
</section>
{% endblock %}