{% extends 'base.html' %}
{% block content %}
<section class="container-fluid variableFormContainer">
    <div class="row formHeader">        
        <div class="col s9 m10">
            Races
        </div>
        <div class="col s3 m2">
            <a href="" class="waves-effect waves-light btn btn_small blue-grey darken-3">New</a>
        </div>     
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="collapsible">
                {% for race in races %}
                <li>          
                    <div class="collapsible-header collapsibleHeaderRaces orange lighten-5"><i class="material-icons">person</i><strong>{{ race.race.capitalize() }}</strong></div>
                    <div class="collapsible-body">
                        <div class="row ">
                            <div class="col s3 m2 xl1">
                                <a href="" class="waves-effect waves-light btn btn_small blue-grey darken-3">Edit</a>
                            </div>
                            <div class="col s3 m2 xl1">
                                <a href="" class="waves-effect waves-light btn btn_small blue-grey darken-3">Del</a>
                            </div>                        
                            <p class="col s12">{{ race.description }}</p>
                        </div>
                    </div>
                </li>
                {% endfor %}   
            </ul>
        </div>
    </div>
</section>
{% endblock %}