{% extends 'base.html' %}
{% block content %}
<section class="welcomeText container-fluid variableFormContainer">
    <h3>Welcome to the DnD NPC Library</h3>
    <p class="flow-text">
        This place is for all you creators of fantasy realms in the Dungeons and Dragons fifth edition setting. Whether you are playing from a premade set, or made it all up in your mind, this library will enable you to store all that data. You can access it on any device, be it a full blown PC system or a small humble smartphone, as long as there is an internet connection, you can access your creations!
    </p>
</section>
{% endblock %}